.modal-window {
  position: fixed;
  width: 20%;
  top: 0;
  right: 0;
  z-index: 99999;
  font-family: sans-serif;
  background: #39B3E6;
  color: black;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1.2px;
}

.modal-close-button{
  padding-bottom: 2px;
  cursor: pointer;
}

